<div class='form-class1'>
  <form [formGroup]="formGroup">


    <label class="styleL" *ngIf="checkthesubject" > SUBJECT
      <input *ngIf="checkthesubject" type="text" placeholder="Type your Subject" formControlName="subject">
    </label>

    <label class="styleL" *ngIf="checkthemessage" > Message to email
      <input *ngIf="checkthemessage" type="text" placeholder="Type your Message" formControlName="message">
    </label>

    <p class="styleP" > Number</p>
    <input style="margin-left: 20px" formControlName="number" maxlength="12">
    <div style="color: red;margin-left: 20px"> Number format 923*********</div>
    <div style="color: green;margin-left: 20px" >Number entered after Masking: {{number.value|mask:mymask }}</div>




    <div style="font-weight: bold;margin-left: 20px;margin-top: 30px"> Select Users</div>

<ng-multiselect-dropdown class="MYSELECT" formControlName="users"
  [placeholder]="'please select users'"
  [settings]="dropdownSettings"
  [data]="UserList2"
  (onSelect)="onUserSelect($event)"
  (onDeSelect)="onUserDeSelect($event)"
>
</ng-multiselect-dropdown>

    <p style="margin-left: 20px;font-weight: bold"> Select Reasons</p>

    <br>

<ng-multiselect-dropdown class="MY SELECT" formControlName="reasons"
  [placeholder]="'please select reasons'"
  [settings]="dropdownSettings"
  [data]="reasoons"
  (onSelect)="onReasonSelect($event)"
  (onDeSelect)="onReasonDeSelect($event)"
>
</ng-multiselect-dropdown>


    <button style="margin-left: 20px;margin-top: 20px" class="btn btn-success" (click)="submit(formGroup)"
            [disabled]="formGroup.invalid"> submit
    </button>

  </form>
</div>
