.maindiv{
  display: block;
  background-color: purple;
  opacity: 90%;
  border-radius: 10px;
  max-width: 470px;
  margin: 0 auto;
  margin-top: 80px;
}

.sideinput{
  display: flex;
  padding: 8px;
}

.inputdiv{
  width: 60%;
}

label{

  width: 40%;
  margin-left: 20px;
  font-weight: bold;
}

/*.btn-success{*/
/*  margin-left: 130px;*/
/*  color: yellow;*/
/*  margin-top: 50px;*/
/*}*/

.btn-success{
  background-color: deeppink;
  color: white;
  opacity: 80%;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input_text {
  background-color: white;
  width: 90%;
  text-align: center;
  margin-left: 25px;
  margin-top: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

.mybuttons{
}
