
<p *ngIf="tabledataexists">You have no Products</p>
<button mat-button
        style="margin-bottom: 10px;margin-top: 30px;margin-left: 1150px"
         class="btn btn-info cursor-pointer hover-action "
         matTooltip="Add another product"
         (click)="ModelEditor(content)">
         <span class="glyphicon glyphicon-remove"></span>
         Add
</button>

<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ADMIN PRODUCTS ADD </h4>
    <button type="button"  aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class='form-class1'>
      <form [formGroup]="ProductsformGroup">

        <input
          class="input_text"
          type="text"
          placeholder="Enter the Product ID"
          formControlName="PrID"
          (keypress)="noNegative($event)">
        <br>

        <input
          class="input_text"
          type="text"
          placeholder="Enter the Product Name"
          formControlName="ProductName" >
        <br>

        <input
          class="input_text"
          type="number"
          placeholder="Enter the ProductPrice"
          formControlName="ProductPrice"
          (keypress)="noNegative($event)"
          min="0">
        <br>

        <img
          class="input_text"
          [src]="Image.value"
        *ngIf="Image.value">
        <input type="file" (change)="readUrl($event)"
        >

        <input
          class="input_text"
          type="text"
          placeholder="Enter the Description"
          formControlName="Description" >
        <br>

        <button style="margin-top: 20px"
                type="button"
                class="btn btn-success"
                [ngClass]="datauploading?'saving':''"
                (click)="submit(ProductsformGroup)">

          Save
          <span></span>
          <span></span>
          <span></span>
        </button>

        <br>

      </form>
    </div>
  </div>

  <div class="modal-footer">
  </div>

</ng-template>

<table *ngIf="dataloaded" mat-table  [dataSource]="matData" class="mat-elevation-z8 ABC" >

  <ng-container matColumnDef="PrID">
    <th style="color: white"  mat-header-cell   *matHeaderCellDef> Product ID</th>
    <td mat-cell *matCellDef="let element"> {{element.PrId}}</td>
  </ng-container>

  <ng-container matColumnDef="ProductName">
    <th style="color: white" mat-header-cell   *matHeaderCellDef> Product Name</th>
    <td mat-cell *matCellDef="let element"> {{element.ProductName}}</td>
  </ng-container>

  <ng-container matColumnDef="ProductPrice">
    <th style="color: white" mat-header-cell *matHeaderCellDef> ProductPrice</th>
    <td mat-cell style="color: green" *matCellDef="let element">{{element.ProductPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th style="color: white" mat-header-cell *matHeaderCellDef> Description</th>
    <td mat-cell style="color: green" *matCellDef="let element">{{element.Description}} </td>
  </ng-container>

  <ng-container matColumnDef="Image">
    <th style="color: white" mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell style="color: green" *matCellDef="let element"><img class="cursor-pointer hover-action" (click)="openImg(element.Image)" [src]="element.Image" alt="" *ngIf="element.Image" style="height: 10%;width: 20%;"></td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th  mat-header-cell *matHeaderCellDef class= "tablest" >  Actions</th>
    <td mat-cell *matCellDef="let element;let i =index" style="width: 30px;">
      <div style="display: flex">
      <mat-icon matTooltip="Delete item" class="cursor-pointer hover-action" color="warn" (click)="openModal2(element,content_cart_delete, i)">delete</mat-icon>
      <mat-icon matTooltip="Edit  item" class="cursor-pointer hover-action" color="primary" (click)="openModal3(element,content_cart_edit, i)">edit</mat-icon>
      </div>

    </td>
  </ng-container>

  <tr  style="background-color: #2d0036" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="justify-content: center;display: flex;margin-top: 230px">
  <div *ngIf="!dataloaded" class="loader" >
  </div>
</div>

<ng-template #content_cart_delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product Details Delete</h4>
    <button type="button"  aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>ARE U SURE YOU WANT TO DELETE</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)=removeIt()>YES</button>
  </div>
</ng-template>

<ng-template #content_cart_edit let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product Details Edit</h4>
    <button type="button" aria-label="Close" (click)="closeedit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="ProductsformGroup">
      <label style="font-weight: bold;margin-left: 20px">Enter Product Id</label>
      <input
        class="input_text"
        type="text"
        placeholder="Enter the Product ID"
        formControlName="PrID"
      >
      <br>
      <label style="font-weight: bold;margin-left: 20px">Enter Product Name</label>

      <input
        class="input_text"
        type="text"
        placeholder="Enter the Product Name"
        formControlName="ProductName" >
      <br>
      <label style="font-weight: bold;margin-left: 20px">Enter Product Price</label>

      <input
        class="input_text"
        type="number"
        placeholder="Enter the ProductPrice"
        formControlName="ProductPrice"
        >
      <br>

      <label style="font-weight: bold;margin-left: 20px">Enter Product Image</label>
      <img
        class="input_text"
        [src]="Image.value">
      <input type="file" (change)="readUrl($event)"
      >
      <br>
      <br>
      <label style="font-weight: bold;margin-left: 20px">Enter Product Description</label>
      <input
        class="input_text"
        type="text"
        placeholder="Enter the Description"
        formControlName="Description" >
      <br>
    </form>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="savechanges()">Done</button>

  </div>
</ng-template>
